body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%; }

.registro {
  background-color: #FF5F01;
  border: none;
  color: white;
  padding: 8px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
  margin-right: 0px; }

.navbar-nav {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10%;
  text-align: center; }
  .navbar-nav div {
    margin-top: 8px; }

.services {
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
  align-content: center; }
  .services img {
    height: 140px;
    width: 140px;
    margin-top: 20px; }
  .services h3 {
    font-size: large;
    margin-top: 13px; }

footer {
  background-color: #55775E;
  padding-top: 10px;
  width: 100%;
  color: white; }

.logo-rrss {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  padding-left: 45%;
  margin: 10px; }

.rrss-footer {
  margin: 10px;
  padding: 10px; }

.mapa-armonia {
  padding: 0px; }

.contact-footer {
  margin: 0px;
  padding: 5px;
  padding-bottom: 18px;
  text-align: center;
  align-content: center; }
  .contact-footer p {
    text-align: center;
    padding: 0px; }
  .contact-footer h4 {
    text-align: center;
    padding: 0px; }

.instalaciones {
  margin-bottom: 40px;
  align-content: center; }
  .instalaciones h2 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center; }

.gallery img {
  border-radius: 30px;
  height: 300px;
  width: 300px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 20px; }

.banner1 {
  background-color: #55775E;
  background-image: url(../assets/banner-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px; }

#text-banner1 {
  padding-top: 140px;
  text-align: right;
  color: white;
  text-shadow: 2px 2px 5px black; }
  #text-banner1 h1 {
    font-size: 50px; }
  #text-banner1 h2 {
    font-size: 40px; }
  #text-banner1 p {
    padding-left: 30px; }

.banner2 {
  background-color: white;
  background-image: url(../assets/banner-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-position: -4px; }

#text-banner2 {
  height: 450px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black; }
  #text-banner2 h1 {
    padding-top: 200px;
    margin: 0%;
    font-size: 60px; }

.banner3 {
  background-color: #55775E;
  background-image: url(../assets/banner-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-position: 0px; }

#text-banner3 {
  height: 450px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black; }
  #text-banner3 h1 {
    padding-top: 200px;
    margin: 0%;
    font-size: 60px; }

.banner4 {
  background-color: #55775E;
  background-image: url(../assets/banner-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px; }

#text-banner4 {
  height: 450px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black; }
  #text-banner4 h1 {
    padding-top: 200px;
    margin: 0%;
    font-size: 60px; }

.banner-publicidad {
  background-image: url(https://babolaturuguay.uy/wp-content/uploads/2021/06/Pure-strike-thiem-horizontal-1-min.png);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: -200px center;
  height: 400px;
  width: 100%;
  color: white;
  margin-bottom: 10px;
  margin-top: 0px; }

.cards {
  background-color: #55775E;
  border-radius: 10px;
  height: auto;
  width: auto;
  text-align: center;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px; }
  .cards img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 0px;
    border-style: solid;
    border-color: #55775E;
    margin-bottom: 20px; }
  .cards h5 {
    font-size: 20px;
    color: aliceblue; }
  .cards h4 {
    font-size: 24px;
    color: aliceblue; }
  .cards p {
    font-size: 14px;
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; }

.team h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
  padding-top: 20px; }

.espacio {
  background-color: white;
  border-radius: 30px;
  height: 100px;
  width: 100%;
  margin-top: -50px;
  margin-bottom: -50px; }

.formulario {
  background-image: url(../assets/back-contact.jpg);
  background-repeat: no-repeat;
  background-size: 250%;
  height: 600px;
  margin-left: 0px;
  margin-top: 40px;
  text-align: center; }

#contacto {
  color: azure;
  padding-top: 50px;
  text-align: center; }

form {
  margin: 0 auto;
  width: 80%;
  padding-top: 100px; }
  form ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  form li {
    margin-top: 20px; }

input {
  width: 200px;
  border-radius: 5px; }

textarea {
  width: 200px;
  border-radius: 5px;
  color: white; }

.enviar-formulario {
  padding-left: 0%;
  padding-top: 20px; }
  .enviar-formulario a {
    background-color: #FF5F01;
    border: none;
    color: white;
    padding: 8px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px; }

.plan {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 20px;
  margin-top: 20px; }
  .plan p {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px; }

.cards-planes {
  border: solid;
  border-color: #55775E;
  border-radius: 10px;
  padding-top: 17px;
  margin-bottom: 15px;
  text-align: center;
  align-self: center;
  height: 320px; }
  .cards-planes img {
    margin-bottom: 10px; }
  .cards-planes li {
    list-style-type: none;
    padding-right: 25px; }
  .cards-planes h5 {
    margin-bottom: 10px; }

.met2 {
  background-repeat: no-repeat;
  background-color: #FF5F01;
  border-radius: 40px;
  color: white;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 30px;
  margin-top: 30px; }
  .met2 h2 {
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%; }
  .met2 img {
    height: auto;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%; }
  .met2 p {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%; }

.met {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 15px; }
  .met img {
    height: auto;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .met p {
    padding-left: 10%;
    padding-right: 10%; }
  .met h2 {
    margin-top: 12%;
    padding-left: 10%;
    padding-right: 15%; }

.quienes-somos {
  margin-top: 20px;
  margin-bottom: 25px; }
  .quienes-somos p {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; }
  .quienes-somos h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 60px; }
  .quienes-somos img {
    height: 330px;
    width: 540px;
    border-radius: 20px; }

.eventos {
  display: flex;
  padding-top: 30px; }
  .eventos p {
    margin-left: 100px;
    margin-right: 140px;
    text-align: center; }
  .eventos h3 {
    margin-left: 100px;
    padding-left: 70px;
    margin-right: 0px;
    text-align: center;
    width: 300px;
    color: #55775E;
    font-size: 23px;
    font-weight: bold; }

.eventos-fila1 {
  flex-direction: column; }

.evento-fila2 {
  flex-direction: column; }

.cards-eventos {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }
  .cards-eventos img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: 25px; }

.cards-productos {
  border: solid;
  border-color: #55775E;
  border-radius: 10px;
  padding: 20px 20px;
  height: 440px;
  width: 290px;
  text-align: center;
  margin: 10px; }

.consultar {
  background-color: #FF5F01;
  border: none;
  color: white;
  padding: 8px 35px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
  margin-top: 150px;
  margin-left: 0%;
  margin-bottom: 16px; }

.btn btn-primary {
  background-color: #FF5F01; }

.productos {
  padding: 10px;
  padding-bottom: 40px;
  width: 100%; }
  .productos img {
    height: 250px;
    width: 250px;
    margin-bottom: 15px;
    align-content: center;
    margin-left: 0px; }
  .productos p {
    padding-left: 0px;
    text-align: center; }
  .productos h3 {
    text-align: center;
    padding-left: 0px;
    margin-bottom: 20px; }
  .productos h5 {
    text-align: center;
    padding-left: 0px;
    margin-bottom: 22px; }

.agendar-visita {
  background-color: #55775E;
  border: none;
  padding: 8px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
  float: right;
  color: white; }
