
.plan{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
    margin-top: 20px;
    p{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 10px;
    }
}

.cards-planes{
    border: solid;
    border-color: #55775E;
    border-radius: 10px;
    padding-top: 17px;
    margin-bottom: 15px;
    text-align: center;
    align-self: center;
    height: 320px;
    img{
        margin-bottom: 10px;
    }
    li{
        list-style-type:none;
        padding-right: 25px;
    }
    h5{
        margin-bottom: 10px;
    }
}



