
.plan{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 20px;
    margin-top: 20px;

}

.cards-planes{
    border: solid;
    border-color: #55775E;
    border-radius: 10px;
    padding-top: 17px;
    margin-bottom: 15px;
    text-align: center;
    align-self: center;
    img{
        margin-bottom: 10px;
    }
    li{
        list-style-type:none;
        padding-right: 25px;
    }
    h5{
        margin-bottom: 10px;
    }
}



