.cards-productos{
    border: solid;
    border-color: #55775E;
    border-radius: 10px;
    padding: 20px 20px;
    height: 510px;
    width: 290px;
    text-align: center;
    margin: 10px;
}

.consultar{
    background-color: #FF5F01;
    border: none;
    color: white;
    padding: 8px 35px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 150px;
    margin-left: 0%;
    margin-bottom: 16px;
}



.btn btn-primary{
    background-color: #FF5F01;
}

.productos{
    padding: 10px;
    padding-bottom: 40px;
    width: 100%;
    img{
        height: 250px;
        width: 250px;
        margin-bottom: 15px;
        align-content: center;
        margin-left: 0px;
    }
    p{
        padding-left: 0px;
        text-align: center;
    }
    h3{
        text-align: center;
        padding-left: 0px;
        margin-bottom: 20px;
    }
    h5 {
        text-align: center;
        padding-left: 0px;
        margin-bottom: 22px;
    }
}