body{ 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    width: 100%;
}
*{
    margin: 0;
}

/* navegador*/

.registro{
        background-color: #FF5F01;
        border: none;
        color: white;
        padding: 8px 35px;
        text-align: center;
        text-decoration: none;
        display: inline;
        position:fixed;
        font-size: 16px;
        border-radius: 30px;
        margin-top: 0px;
        margin-left: 20px;
}

.navbar-nav{
    background-color: white;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10%;
}
/* index style*/

.services{
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center;
    align-content: center;
    img{
        height: 140px;
        width: 140px;
        margin-top: 20px;
    }
    h3{
        margin-top: 13px;
    }
}


/*instalaciones*/

.instalaciones{
    
    margin-bottom: 40px;
    align-content: center;
    h2{
        font-size: 40px;
        margin-bottom: 20px;
        margin-top: 15px;
        text-align: center;
    }
}

.gallery{
    img{
        border-radius: 20px;
        height: 290px;
        width: 300px;
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 20px;
    }
}
/* primer banner style*/

.banner1{
    background-color: #55775E;
    background-image: url(../assets/banner-1.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 500px;
}

#text-banner1{
    padding-top: 140px;
    text-align: right;
    color: white;
    text-shadow: 2px 2px 5px black;
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
    p{
        padding-left: 30px;
    }
}

.agendar-visita{
    background-color: white;
    border: none;
    color:#55775E;
    padding: 8px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    float: right;    
}

.espacio{
    background-color: white;
    border-radius: 30px;
    height: 100px;
    width: 100%;
    margin-top: -50px;
    margin-bottom: -50px;
}


/* cards style*/

.cards{
    background-color: #55775E;
    border-radius: 10px;
    height: 470px;
    width: 250px;
    text-align: center;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    img{
        height: 200px;
        width: 200px;
        border-radius: 50%;  
        margin-top: 0px;
        border-style: solid;
        border-color: #55775E;
        margin-bottom: 20px;
    }
    h5{
        font-size: 17px;
        color: aliceblue;
    }
    h4{
        font-size: 24px;
        color: aliceblue;
    }
    p{
        font-size: 15px;
        color: aliceblue;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
}

.team{
    h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    padding-top: 20px;
}
}

/*Quienes somos*/

.quienes-somos{   
    margin-top: 40px;
    margin-bottom: 25px;
    p{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    }
    h2{
        text-align: center;
        font-size: 40px;
        padding-top: 60px;
    }
    img{
        height: 330px;
        width: 540px;
        border-radius: 20px;
    }
}


/* Cards de Eventos*/

.card{
    text-align: center;
}

.card-text{
    padding: 0px;
}


/*Metodos*/

.banner2{
    background-color: #55775E;
    background-image: url(../assets/banner-2.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 1200px;
    height: 500px;
}

#text-banner2{
    padding-top: 140px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 30px;
}

/* metodos style*/

#persona-3{
    display: flex;
    padding-left: 750px;
    width: 300px;
}

.met2{
    background-image:url(../assets/back-person.png);
    background-repeat: no-repeat;
    background-position: -40px;
    padding-left: 100px;
    color: white;
    padding-right: 1180px;
    height: 400px;
    width: 1200px;
    p{
        padding-left: 0px;
        margin-right: 500px;
    }
    h2{
        margin-top: -200px;
        padding-left: 0px;
        margin-right: 500px;
    }
}

/* persons style*/

.met1{
    display: flex;
    padding-bottom: 20px; 
    padding-top: 50px; 
    text-align: right;
    padding-right: 1400px;
    h1{
        padding-left: 70px;
    }
    p{
        padding-left: 70px;
    }
}

#persona-1{
    display: flex;
    float: left;
    margin-left: 30px;
    width: 300px;
}

#persona-2{
    display: flex;
    float: left;
    width: 300px;
    margin-left: 90px;
}

.met3{
    display: flex;
    padding-bottom: 20px; 
    padding-top: 50px; 
    text-align: right;
    padding-right: 1450px;
}


/* footer*/

footer{
    background-color: #55775E;
    padding-top: 10px;
    width: 100%;
    color: white;
}


.logo-rrss{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-left: 45%;
    margin: 10px;
}

.rrss-footer{
    margin: 10px;
    padding: 10px;
}

.mapa-armonia{
    padding: 0px;
}

.contact-footer{
    margin:0px;
    padding: 5px;
    padding-bottom: 18px;
    text-align: center;
    align-content: center;
    p{
        text-align: center;
        padding: 0px;
    }
    h4{
        text-align: center;
        padding: 0px;
    }
}

/*registro contacto*/

.formulario{
    background-image: url(../assets/back-contact.jpg);
    background-repeat: no-repeat;
    background-size: 250%;
    height: 600px;
    margin-left: 0px;
    margin-top: 40px;
    text-align: center;
}


#contacto{
color: azure;
padding-top: 50px;
text-align: center;
}

form {
    margin: 0 auto;
    width: 80%;
    padding-top: 100px;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li{
        margin-top: 20px;
    }
}  

input{
    width: 200px;
    border-radius: 5px;
}

textarea{
    width: 200px;
    border-radius: 5px;
    color: white;
}


.enviar-formulario{  
    padding-left: 0%;
    padding-top: 20px;
    a{
        background-color: #FF5F01;
        border: none;
        color: white;
        padding: 8px 35px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 30px;
    }
}

/*planes*/

#text-banner3{
    height: 450px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    h1{
        padding-top: 200px;
        margin: 0%;
        font-size: 60px;
    }
}

.banner3{
    background-color: #55775E;
    background-image: url(../assets/banner-3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 500px;
    background-position: 0px;
}

.plan-escuelita{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 20px;
    margin-top: 20px;

}


.cards-planes{
    border: solid;
    border-color: #55775E;
    border-radius: 10px;
    padding-top: 17px;
    margin-bottom: 15px;
    text-align: center;
    align-self: center;
    img{
        margin-bottom: 10px;
    }
}

.planes-lista{
    list-style-type:none;
    padding-right: 20px;
}


.plan-adulto{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
}



/*eventos*/

.eventos{
    display: flex;
    padding-top: 30px;
    p{
        margin-left: 100px;
        margin-right: 140px;
        text-align: center;
    }
    h3{
        margin-left: 100px;
        padding-left: 70px;
        margin-right: 0px;
        text-align: center;
        width: 300px;
        color: #55775E;
        font-size: 23px;
        font-weight:bold;
    }
}

.eventos-fila1{
    flex-direction: column;
}

.evento-fila2{
    flex-direction: column;
}

.cards-eventos{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    img{
        width: 300px;
        height: 300px;
        border-radius: 10px;
        margin-left: 25px;
    }
}

/*tienda*/

.banner4{
    background-color: #55775E;
    background-image: url(../assets/banner-4.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 500px;
}

#text-banner4{
    height: 450px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    h1{
        padding-top: 200px;
        margin: 0%;
        font-size: 60px;
    }
}

.productos{
    padding: 10px;
    padding-bottom: 40px;
    width: 100%;
    img{
        height: 250px;
        width: 250px;
        margin-bottom: 15px;
        align-content: center;
        margin-left: 0px;
    }
    p{
        padding-left: 0px;
        text-align: center;
    }
    h3{
        text-align: center;
        padding-left: 0px;
        margin-bottom: 20px;
    }
    h5 {
        text-align: center;
        padding-left: 0px;
        margin-bottom: 22px;
    }
}


.cards-productos{
    border: solid;
    border-color: #55775E;
    border-radius: 10px;
    padding: 20px 20px;
    height: 510px;
    width: 290px;
    text-align: center;
    margin: 10px;
}

.consultar{
    background-color: #FF5F01;
    border: none;
    color: white;
    padding: 8px 35px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 150px;
    margin-left: 0%;
    margin-bottom: 16px;
}

.banner-publicidad{
    background-image: url(https://babolaturuguay.uy/wp-content/uploads/2021/06/Pure-strike-thiem-horizontal-1-min.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: -200px center;
    height: 400px;
    width: 100%;
    color: white;
    margin-bottom: 10px;
    margin-top: 0px;
}

.btn btn-primary{
    background-color: #FF5F01;
}